img {
    width: 100px;
    height: auto;
}

.btn {
    padding: 30px;
    color: while;
    font-size: 30px;
    background-color: #4CAF50;
}

.checkout-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.quantity-input {
    width: 50px;
    height: 40px;
    font-size: 20px;
}