.chekout-container {
    display: flex;
    justify-content: space-between;
}

.content-box {
    width: 580px;
    min-height: 100vh;
}

h2 {
    padding: 20px 0;
}

.text-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    margin-left: 10px;
    box-sizing: border-box;
}

.checkout-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #F5F5F5;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

img {
    max-width: 80px;
    height: 55px;
}

h3 {
    margin: 10px 0;
}

input[type=number] {
    width: 30px;
    font-size: 20px;
}

.product-content {
    width: 380px;
    display: flex;
    justify-content: flex-start;
}

.product-content h3 {
    width: 300px;
    text-align: left;
}

.total-price {
    text-align: right;
}


.confirm {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}