form {
    display: contents;
}

.filter-section {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.lst-img {
    display: flex;
    gap: 15px;
    width: 130px;
    max-height: 44px;
}

.lst-img img {
    width: 130px;
    padding: 10px;
    background-color: #f1f3f5;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.lst-img img:hover {
    transform: scale(1.1);
    background-color: #eaeaea;
    cursor: pointer;
}

.filter-section select {
    appearance: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    cursor: pointer;
    margin-right: 50px;
}

.filterButton {
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 10px;
}

.tag-box {
    margin-top: 10px 0 20px 0;

}

.tag {
    padding: 5px;
    background-color: #ccc;
    margin: 5px;
    border-radius: 5px;
}