.info-container {
    display: flex;
    justify-content: space-between;
}

.content-box {
    width: 580px;
    min-height: 100vh;
}

.content-box a {
    height: 10%;
    color: black;
    font-size: 20px;
    padding: 20px;
}

.content-box a:hover {
    color: #4CAF50;
    background-color: white;
    border: #4CAF50 2px solid;
    font-size: 20px;
    cursor: pointer;
}

.last {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last a {
    color: white;
    background-color: #4CAF50;
    width: 50%;
    height: 66px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;

}

.info-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.logout:hover {
    color: red !important;
    border: red 2px solid !important;
}

h2 {
    padding: 20px 0;
}

h3 {
    margin: 10px 0;
}

.change-info {
    margin-top: 20px;
    justify-content: center;
}

.button-box {
    display: flex;
    justify-content: center;
}

.change-info:hover {
    cursor: pointer;
}