:root {
    --main-color: #4CAF50;
    --card-background: rgba(214, 254, 174, 0.8);
}


.dashboard-container {
    width: 100%;
    height: auto;
}

.admin-sidebar {
    position: fixed;
    max-width: 250px;
    height: auto;
    font-size: 20px;
    border-right: 5px solid #ccc;
    float: left;
    background-color: #4CAF50;
}

.admin-sidebar ul li {
    width: 100%;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.admin-sidebar ul li a,
.admin-sidebar ul li i {
    color: white;
}

.dashboard {
    float: left;
    padding-top: 20px;
    max-width: 900px;
    margin-left: 250px;
}


.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 50px;
}

.card {
    margin-top: 20px;
    background-color: rgb(214, 254, 174);
    height: 200px;
    width: 400px;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-icon {
    font-size: 50px;
    margin-top: 5px;
}

.content {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
}


table {
    width: 800px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-add {
    background-color: #008CBA;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    margin-left: auto;
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.search-container input {
    padding: 5px;
    margin-right: 10px;
}
